<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.4/css/bulma.min.css" integrity="sha512-yh2RE0wZCVZeysGiqTwDTO/dKelCbS9bP2L94UvOFtl/FKXcNAje3Y2oBg/ZMZ3LS1sicYk4dYVGtDex75fvvA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <title>{{config.title}}{{#if page}}, {{page.title}}{{/if}}</title>
  <meta name="description" content="{{#if page}}{{page.description}}{{else}}{{config.description}}{{/if}}">
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="block">
        <p class="title"><a href="{{config.url}}">{{config.title}}</a></p>
        {{#if page}}
        <p class="subtitle"><a href="{{config.url}}{{page.slug}}">{{page.title}}</a></p>
        {{else}}
        <p class="subtitle">{{config.description}}</p>
        {{/if}}
      </div>
      <div class="box">
        {{> @partial-block }}
      </div>
    </div>
  </section>
</body>
</html>
